nav ul {
  background-color: darkgrey;
  color: brown;
}
nav a {
  color: aliceblue;
}
#mountain-img {
  width: 600px;
}
#lake-img {
  width: 700px;
}
#coast-img {
  width: 700px;
}
p {
  background-color: antiquewhite;
}
h1 {
  font-family: "Syncopate", sans-serif;
  color: cornflowerblue;
  background-color: aliceblue;
}
h2,
h3 {
  color: darkorange;
  background-color: azure;
}
ul {
  color: indigo;
  background-color: cornsilk;
}
.mountain-headers {
  color: maroon;
}
.lake-headers {
  color: darkgreen;
}
.coast-headers {
  color: blue;
}
